<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">
   
   <delete id="cartDel" parameterType="int">
    delete
    from cart
    where num = #{num}
   </delete>
   
   <insert id="cartAdd" parameterType="CartDTO" >
    insert into cart (num, gCode, gCategory, gName, gPrice, gImage, gAmount, userid, username, post, 
	         addr1, addr2, phone, email1, email2)
    values (listInfo_seq.nextval ,#{gCode},#{gCategory},#{gName},#{gPrice},#{gImage},#{gAmount},#{userid},
           #{username},#{post},#{addr1},#{addr2},#{phone},#{email1},#{email2})
   </insert>
	
	<select id="cartList" parameterType="string" resultType="CartDTO">
	  select num, gCode, gCategory, gName, gPrice, gImage, gAmount, userid, username, post, 
	         addr1, addr2, phone, email1, email2
	  from cart
	  where userid = #{userid}
	</select>

	
</mapper>